# Docker
**/.docker/data/

# Environments
**/.idea
**/.vscode/

# Files and File Extensions
**/config.*
**/*.config.*
!**/default.config.*

**/*.bk
**/*.bk.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.env
**/*.env.*

!**/*.env.example

**/*.gz
**/*.gz.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.tar
**/*.tar.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*


# Nodejs
**/build/
**/node_modules/

# Python
**/__pycache__/
**/dist/
**/venv/

# Rust
**/debug/
**/target/

# Svelte
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/